target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### MAC ###
.DS_Store

### Other ###
logs/
temp/
hello-spring-cloud-config/src/test/
hello-spring-cloud-eureka/src/test/
hello-spring-cloud-service-admin/src/test/
hello-spring-cloud-web-admin-feign/src/test/
hello-spring-cloud-web-admin-ribbon/src/test/
hello-spring-cloud-zipkin/src/test/
hello-spring-cloud-zuul/src/test/
